@import "./css/fonts.css";
@import "./css/colors.css";





.bigText{
    font-family: "Work-Sans-400";
    color: var(--color-faq-grayishPurple);
}

/* .active {
  display: block;
} */

.disabled{
  display: none;
  
}

body{

    /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
 justify-content: center; 
  flex-direction: column;
  background-color: var(--color-faq-LightPink);
}

header {
    top : 0;
    width: 100%;
    height: 25vh;
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.togTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    justify-content:  space-between;
    font-family: "Work-Sans-600";
}
.imgSmall{
    width: 20px; 
  height: 20px;
    
}

.contents{
    position: absolute;
    top: -50px;  
  width: 90%; 
  max-width: 375px;
  background: rgb(255, 255, 255); 
  border-radius: 8px ;
  z-index: 10; 
  margin-top: 15vh; 
  display: flex;
  flex-direction: column;
  padding : 10px;
}

.title, .togTitle {
    display: flex;
    align-items: center;
  }


.buttTog{
  /* background-image: url("assets\images\icon-plus.svg");
  width: 20px; 
  height: 20px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;

}

.titText{
  font-family: "Work-Sans-700";
  font-size: larger;
}

.title{


}

.titImg{
  width: 25px ; 
  height: 25px ;
  margin-right: 20px;
}
hr{
  border: 0;
  border-top:  1px solid black;
  height: 0;
  z-index: 100;
}